[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-v5 = "*"
django = "*"
requests = "*"
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
setuptools = "*"
cryptography = "*"
schedule = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
