{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}LGF - Term Sheet {% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}{% endblock head %}
</head>

<body>


    <header>
        {% block header %}
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="container d-flex flex-column align-items-center">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <a class="navbar-brand">
                            <img src="https://link.kicknsaas.com/static/lfg/img/lgf.png" alt="" width="85" height="75">
                        </a>
                        <h2 class="mb-0 mx-auto px-4 py-2">LFG Term Sheet</h2>
                        <div style="width: 80px;"></div>
                    </div>
                </div>
            </nav>
        </div>
        {% endblock header %}
    </header>

    <main class="container-fluid" id="main">
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% block footer %} {% endblock footer %}
    </footer>
</body>

</html>